{% extends "webcontrol/control-panel.html" %}

{% block right_content %}
Check the output below. <em>If there are any errors, stop!</em> Bust out your shell and
follow the instructions <a href="https://github.com/chirpradio/chirpradio-machine#id8">here</a>
{% include "webcontrol/term.html" %}
<form method="post" action="{% url do-import %}">
{% csrf_token %}
{% if imported %}
<a href="{% url generate-collection %}"<button class="btn primary">Generate Traktor Collection</button></a>
{% else %}
<a href="{% url do-import %}"<button class="btn primary">do another dry run</button></a>
{% if checked %}
<input type="submit" value="Actually Do Import" class="btn primary" />
{% endif %}
{% endif %}
</form>
{% endblock right_content %}