{% extends "webcontrol/control-panel.html" %}

{% block right_content %}

{% include "webcontrol/term.html" %}
At this point Traktor can be switched over to the new collection whereby you shut down Traktor, 
rename /mnt/disk_array/traktor/TraktorProRootDirectory/new-collection.nml to collection.nml 
and restart Traktor.
<form method="post" action="{% url push-artists %}">
{% csrf_token %}
<input type="submit" value="Push Artists to Chirp Radio" class="btn primary" />
</form>
{% endblock right_content %}