{% if step >= 0 %}
<a href="{% url do-dump %}"><button class="btn">Dump new artists in dropbox</button></a>
{% endif %}
{% if step >= 2 %}
<a href="{% url diff-whitelist %}"><button class="btn{% if step == 2 %} disabled{% endif %}">Push artist whitelist</button></a>
{% endif %}
{% if step >= 4 %}
<a href="{% url do-import %}"><button class="btn{% if step == 4 %} disabled{% endif %}">Do import</button></a>
{% endif %}
{% if step >= 6 %}
<a href="{% url generate-collection %}"><button class="btn{% if step == 6 %} disabled{% endif %}">Generate Traktor collection</button></a>
{% endif %}
{% if step >= 7 %}
<a href="{% url push-artists %}"><button class="btn{% if step == 7 %} disabled{% endif %}">Push artists to chirpradio</button></a>
{% endif %}