@bgcolor:#EAEBEB;
@accent:desaturate(darken(@bgcolor, 40%), 20%);
@deep:darken(@accent, 30%);
@red:#AB2626;

.rounded(@radius:15px) {
	border-radius:@radius;
	-moz-border-radius:@radius;
	-webkit-border-radius:@radius;
}

.shadowed(@size:2px 2px 3px, @color:@accent) {
	box-shadow:@size, @color;
	-moz-box-shadow:@size, @color;
	-webkit-box-shadow:@size, @color;
}
.bordered(@width:2px, @style:solid, @color:@deep) {
	.rounded;
	border:@width @style @color;
}

.centered {
	text-align:center;
}

.button {
	padding:0.3em;
	.rounded;
	.centered;
	margin:0.3em;
	float:left;
	width:150px;
	background:@accent;
}

html, body {
	background:@bgcolor;
	color:@deep;
}

.wrapper {
	width:900px;
	overflow:hidden;
	min-height:350px;
	margin:auto;
	margin-top:0.3em;
	.rounded;
	.shadowed;
	background:lighten(@accent, 30%);
	padding:0.3em;
}

h1 {
	.bordered;
	color:saturate(@deep, 10%);
	background:@red;
	padding:0.7em;
}

h2, h3 {
	.centered;
	.rounded;
	background:@deep;
	color:@bgcolor;
	padding:0.3em;
}

ul, li {
	list-style:none;
	margin:0;
	padding:0;
}

.logs, .buttons, .message {
	width:100%;
	overflow:hidden;
}

.message {
	line-height:1em;
	margin:0 0 0.7em 0;
}

.logs {
	border:1px solid @deep;
	width:98%;
	margin:auto;
	margin-bottom:1em;
	min-height:200px;
	white-space:pre;
	background:@accent;
}

a {
	.button;
}

a:hover {
	cursor:pointer;
	background:@deep;
	color:@bgcolor;
}

.splash {
	a {
	padding:5.8em;
	font-size:1.5em;
	}
	a:last-child {
		float:right;
	}
}

.main, .history {
	min-width:900px;
	.buttons p {
		float:right;
	}
}

.out {
	min-height:80px;
}
.err {
	color:@red;
	border-top:3px solid @red;
	padding-bottom:0;
	margin-bottom:0;
}


